@import "bootstrap/scss/bootstrap";

@font-face {
    font-family: great-vibes;
    src: url('./GreatVibes-Regular.ttf')
}

@font-face {
    font-family: lora;
    src: url('./Lora-VariableFont_wght.ttf')
}

h1 {
    font-family: great-vibes;
    padding-top: 10px;
}

p {
    font-family: lora;
}

.btn-classy {
    background-color: black;
    color: white;
}

.btn-classy:hover {
    background-color: black;
    color: white;
    border-color: gold;
    border-width: 5px;

}

.score {
    padding-top: 10px;
}

.item-435885 {
    padding-top: 7%;
}

.item-435868 {
    padding-top: 7%;
}

.item-435882 {
    padding-top: 7%;
}

.item-435872 {
    padding-top: 15%;
}

.item-459092 {
    padding-top: 14%;
}

.item-435867 {
    padding-top: 5%;
}

.item-435878 {
    padding-top: 18%;
    padding-bottom: 10%;
}

.item-435883 {
    padding-top: 11%;
}

.item-435877 {
    padding-top: 1%;
}

.item-437989 {
    padding-top: 3%;
}

.item-435880 {
    padding-top: 7%;
}

.item-435884 {
    padding-top: 5%;
}


.aspect-ratio {
    width: 100%; /* Full width of its parent */
    padding-top: 0%; 
    margin-top:15px;
    margin-bottom: 15px;
}

.aspect-ratio img {
    top: 0;
    left: 0;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}